<div class="thebackground">
<h1 class='headertextmain'> Welcome to Natural Therapeutics Atlanta</h1><br></br>
<center><a href ="/services"><button class="button"> Learn More </button></a></center>
</div>
