<center>

<h1 class="headertext"> Services </h1>
<br><br>
<h2> Welcome to Natural Therapeutics Atlanta </h2>
<br>
<p class='tn'>We offer:</p>
	<br>
			<div class="t"><b>∙ Blood Nutrition, Allergy Testing, etc.</b></div><br>
			<div class="t"><b>∙ Hormone Testing</b></div><br>
			<div class="t"><b>∙ Weight Loss</b>: Not starving Yourself - Lose Up to 80lbs</div><br>
			<div class="t"><b>∙ Chiropractic</b>: without popping and cracking your spine</div><br>
			<div class="t"><b>∙ Electro-Acupuncture</b>: Acupuncture to stop smoking.</div>


<br><br>

<p class='tn'>Contact us to receive a <b>FREE</b> consult.</p>
<br></br>
<center>
<a href="/contact"><button class='button2'> Receive Your FREE Consult </button></a>
</div></center>
